<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
</head>
<body>
    <h1>all products</h1>
    <ul>
        <% for (let pro of product){ %>
            <li><a href="/products/<%=pro._id%>"><%=pro.name%></a></li>
           
        <% } %>
    </ul>
</body>
</html>