<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
<h1>these are the details</h1>
<%=pro.category%>
<%=pro.price%>
<a href="/products"> go back</a>
<a href="/products/<%=pro._id%>/edit"> edit</a>
<br>
yeah you could have bought these
</body>
</html>